@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Enter a New Machine</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.MachineDescription)
  @Html.TextBoxFor(model => model.MachineDescription)

  <input type="submit" value="Enter New Machine"/>
}

<p>@Html.ActionLink("View All Machines", "Index")</p>